.hero-image {
    width: 80%;
    height: 378.75px;
    position: relative;
    .image {
        width: 100%;
        height: 378.75px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }
}

.yellow-overlay {
    background-color: rgba($color: $yellow, $alpha: 0.8);
}

.pink-overlay {
    background-color: rgba($color: $pink, $alpha: 0.8);
}

.darkGreen-overlay {
    background-color: rgba($color: $darkGreen, $alpha: 0.8);
}

.purple-overlay {
    background-color: rgba($color: $purple, $alpha: 0.8);
}

.green-overlay {
    background-color: rgba($color: $lightGreen, $alpha: 0.8);
}

.pink-text {
    color: $pink;
}

.darkGreen-text {
    color: $darkGreen;
    text-shadow: 5px 5px 6px #111;
}

.purple-text {
    color: $purple;
}

.green-text {
    color: $lightGreen;
}

.gallery {
    .hero-image {
        margin-bottom: 50.5px;
        width: 80vw;
        .overlay {
            h1 {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-weight: 400;
                text-shadow: 5px 5px 6px #111;
            }
            .number {
                font-size: 300px;
                align-items: flex-end;
                display: flex;
                transform: translateY(40px);
                text-shadow: 5px 5px 6px #111;
            }
            .text {
                font-size: 140px;
                width: 100%;
                display: flex;
                justify-content: center;
                text-shadow: 5px 5px 6px #111;
            }
        }
    }
    .paragraph {
        width: 979.5px;
        width: 80%;
        align-items: flex-start;
        p {
            font-size: 16px;
            margin: 20px;
            max-width: 451;
        }
    }
}

.paragraph {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 95px;
    justify-content: space-between;
    p {
        width: 980px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;
        font-weight: 100;
        font-style: italic;
        letter-spacing: 1.5px;
        max-width: 100%;
    }
}

.underline-wrapper {
    max-width: 979.5px;
    width: 100%;
    position: relative;
    margin-bottom: 36.5px;
}

.underline {
    border-bottom: 2px solid black;
    margin-top: 16px;
    align-self: flex-start;
}

@media only screen and (max-width: 1300px) {
    .hero-image {
        margin-left: 10%;
        margin-right: 10%;
    }
    .underline-wrapper {
        width: 80%;
    }
    .gallery {
        .hero-image {
            .overlay {
                .number {
                    font-size: 150px;
                    transform: translateY(20px);
                }
                .text {
                    font-size: 60px;
                }
            }
        }
        .paragraph {
            flex-direction: column;
            max-width: 80%;
            p {
                width: 100%;
            }
        }
    }
}